In [1]:
print("Hola mundo!")

Hola mundo!

### Primeros Objetos



*   Números enternos
*   Números flotantes

In [2]:
# Crear variables
x = 3
y = 5

In [4]:
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)
print(x%y)

type(x/y)

8
-2
15
243
0.6
0
3

float